In [ ]:
!pip install tweet-preprocessor
!pip install textblob
!pip install sastrawi
!pip install emoji
!pip install PySastrawi
!pip install sklearn
!pip install utilities

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.10/dist-packages (0.6.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.10/dist-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.10/dist-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (4.65.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sastrawi in /usr/local/lib/python3.10/dist-packages (1.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (2.5.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PySastrawi in /usr/local/lib/python3.10/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.10/dist-packages (0.0.post5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement utilities (from versions: none)
ERROR: No matching distribution found for utilities

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

dataset = pd.read_excel('/content/untukasses.xlsx')
dataset.head()

,komentar,Compound_Scores,Sentiments
0,"['indonesia', 'udah', 'vaksin', 'jaga', 'jarak...",-0.3182,Negative
1,"['vaksin', 'paksa', 'karena', 'butuh', 'sertif...",0.0516,Positive
2,"['butuh', 'alas', 'efek', 'lemah', 'imun', 'tu...",-0.2732,Negative
3,"['kena', 'virus', 'lgsg', 'sembuh', 'ad', 'sel...",0.6124,Positive
4,"['aparat', 'desa', 'sok']",0.3182,Positive

In [ ]:
dataset = dataset[['komentar', 'Sentiments']]
dataset = dataset.rename(columns={'komentar':'text', 'Sentiments':'sentiment'})
dataset.head()

                                                text sentiment
0  ['indonesia', 'udah', 'vaksin', 'jaga', 'jarak...  Negative
1  ['vaksin', 'paksa', 'karena', 'butuh', 'sertif...  Positive
2  ['butuh', 'alas', 'efek', 'lemah', 'imun', 'tu...  Negative
3  ['kena', 'virus', 'lgsg', 'sembuh', 'ad', 'sel...  Positive
4                          ['aparat', 'desa', 'sok']  Positive

In [ ]:
dataset['sentiment'].value_counts()

Positive    1327
Negative     853
Name: sentiment, dtype: int64

In [ ]:
#vectorizer
dataset['text'] = dataset['text'].astype(str)

vec = CountVectorizer().fit(dataset['text'])
vec_transform = vec.transform(dataset['text'])
print(vec_transform)

  (0, 38)	1
  (0, 343)	1
  (0, 2024)	1
  (0, 2033)	1
  (0, 2756)	1
  (0, 2782)	1
  (0, 2915)	1
  (0, 2958)	1
  (0, 3751)	1
  (0, 4125)	2
  (0, 5144)	1
  (0, 5414)	1
  (0, 7285)	2
  (0, 7404)	2
  (1, 1196)	1
  (1, 2354)	1
  (1, 3203)	1
  (1, 4586)	1
  (1, 5153)	1
  (1, 6331)	1
  (1, 7404)	1
  (2, 185)	1
  (2, 310)	1
  (2, 352)	1
  (2, 1196)	1
  :	:
  (2176, 4630)	1
  (2176, 5238)	1
  (2176, 6448)	1
  (2176, 7404)	1
  (2176, 7516)	1
  (2177, 3503)	1
  (2177, 3861)	1
  (2177, 6820)	1
  (2178, 569)	1
  (2178, 1791)	1
  (2178, 5050)	2
  (2178, 5400)	1
  (2178, 5555)	1
  (2178, 7203)	1
  (2179, 416)	1
  (2179, 427)	1
  (2179, 808)	1
  (2179, 1003)	1
  (2179, 2445)	1
  (2179, 2756)	1
  (2179, 3859)	1
  (2179, 4705)	1
  (2179, 5083)	1
  (2179, 5792)	1
  (2179, 6554)	1

In [ ]:
#split data
x = vec_transform.toarray()
y = dataset['sentiment']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
#akurasi NBC
metodeBN = MultinomialNB().fit(x_train, y_train)

predictNB = metodeBN.predict(x_test)

print('Accuracy=>')
print('Naive Bayes : ', metodeBN.score(x_test, y_test))

Accuracy=>
Naive Bayes :  0.9243119266055045

In [ ]:
#evaluasi model NBC
y_pred = metodeBN.predict(x_test)
print('Accuracy of NB classifier on test set: {:.2f}'.format(metodeBN.score(x_test, y_test)))

confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)
print(classification_report(y_test, y_pred))

Accuracy of NB classifier on test set: 0.92
[[144  20]
 [ 13 259]]
              precision    recall  f1-score   support

    Negative       0.92      0.88      0.90       164
    Positive       0.93      0.95      0.94       272

    accuracy                           0.92       436
   macro avg       0.92      0.92      0.92       436
weighted avg       0.92      0.92      0.92       436

In [ ]:
  akurasi_cross = 100 * (y_test == y_pred).sum()/x_test.shape[0]
  print(akurasi_cross)

92.43119266055047

In [ ]:
#10-Fold Cross Val NBC
akurasi_3_cross = cross_val_score(metodeBN, x, y, scoring='accuracy', cv=10)
print("akurasi 10 CV = {}".format(akurasi_3_cross))
print("rataan akurasi 10 CV = {}".format(akurasi_3_cross.mean()*100))

akurasi 10 CV = [0.87614679 0.87614679 0.85779817 0.8440367  0.96330275 0.8853211
 0.83944954 0.8853211  0.8853211  0.86238532]
rataan akurasi 10 CV = 87.75229357798166

In [ ]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score